/* system */
* {box-sizing: border-box;}
body {padding: 0;margin: 0;font-family: arial;}

/* template */
.container {width: 800px;margin: 0 auto;}
.clear {clear: both;}

/* struktur */
/* navigasi */
.nav-container {width: 100%;box-shadow: 0 0 50px #0002;position: fixed;background-color: #fff;}
.nav-item {padding: 20px;float: right;}
.logo {font-weight: bold;float: left;border-right: 1px solid #ebebeb}
.nav {padding: 0;margin: 0;}
.nav-link {float: right;list-style: none;padding: 20px;cursor: pointer;}
.nav-link:hover {background-color: #eee;}
